<!DOCTYPE html>
<html>

<head>
<title>Tool pbd2lodas V0.3a</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="../static/w3.css">
<link rel="stylesheet" href="../static/bootstrap.min.css">
<link rel="stylesheet" href="../static/dna-theme.css">
</head>

<body>

<!-- Header -->
<div class="w3-row-padding">
    <header class="card">
      <center><h3>Konvertierung der Daten für DATEV Lodas pbd2lodasV0.3a</h3></center>
    </header>
  </div>
  <br>

<!--Navigation-->
<div class="w3-container">

    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link" href="index.html">Home</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Erfassung</a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="erfassungstunden.html">Stunden</a>
          <a class="dropdown-item" href="erfassungbetrag.html">Beträge</a>
 
          <a class="dropdown-item" href="personalstammdaten.html">Personalfragebogen</a>
        </div>
      </li>
      
  <li class="nav-item">
      <a class="nav-link" href="protokoll.html">Protokoll</a>
  </li>
  
      <li class="nav-item">
        <a class="nav-link active" href="konvertierung.html">Konvertieren</a>
      </li>

    </ul>
    </div>
  <br>
  
<div class="w3-row-padding">

<div class="card">
<center><h3>
Einfach Stunden und Beträge für die Lohnabrechnung für deinen Steuerberater erfassen?
<br>Dann bist du hier genau richtig!<br><br>
Sprich die Inhalte mit deinem Steuerberater ab!</h3>
</div> 

<br>

<div class="card">
  <center><h3>
 Diese Seite darfst du eigentlich nicht sehen !!<br><br>
 Mögliche Fehler: keine Daten erfasst, keine Stammdaten hinterlegt oder das Programm nicht über "localhost:1701 gestartet?"" <br><br>
</h3>
  </div> 

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>
</html>
